@font-face {
  font-family: 'Yoon_Gothic';
  src: url(./YoonGothic310.ttf) format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Yoon_Gothic';
  src: url(./YoonGothic340.ttf) format('ttf');
  font-weight: 700;
  font-style: normal;
}

