#button-language-setting-chatgpt {
  border-radius: 24px;
  font-size: 2.5rem;
  overflow: hidden;
  img {
    width: 100%;
  }

  .dropdown-menu {
    position: absolute; // 드롭다운 위치를 절대 위치로 설정
    width: 15rem;
    font-size: 3rem;
    height: 20.2rem;
    left: 50%; // 왼쪽에서 50% 위치
    top: 35%;
    padding: 5px;
    transform: translateX(-50%); // 수평으로 중앙 정렬
    z-index: 100;
    background-color: lightsteelblue;
    // ... 추가 스타일 ...

    .dropdown-content {
        min-width: 160px;
        max-height: 200px; // 최대 높이 설정
        overflow-y: auto; // 스크롤 가능
        border: 1px solid #ccc;
        background-color: white;
        color: black;
        padding: 10px;
        z-index: 1;
        margin-top: 5px; // 드롭다운과 버튼 사이의 간격
        // text-align: center;
        margin-bottom: 10px;
        font-size: 2.5rem;
        text-indent: 8px;

        // 가운데 정렬
        // transform: translateX(-50%);

        // 드롭다운 항목 스타일
        a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;

            &:hover {
                background-color: #f1f1f1;
            }
        }
    }

    &:hover .dropdown-content {
        display: block; // 마우스 오버 시 드롭다운 표시
    }
  }
}
